__pycache__/
VAULT/
.cache
config_email.ini
cred_spotify.py
headers_amazon.py
headers_apple.py
headers_gaana.json
headers_hungama_brute.py
headers_wynk.py
for_hungama/
round_*/
intermediate*.csv
responses_logs/
__init__.pyc
helpers.pyc
draft_*.md
rough_work_*.ipynb
